.tilt-wrapper {
  width: 100%;
  /* padding: 40px 0; */
}

.tilt-card {
  overflow: hidden;
  border-radius: 16px;
  height: 280px;
  /* margin: 0 10px; */
  transition: transform 0.3s ease;
}

.tilt-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ROTATION LIKE YOUR SAMPLE */
.rotate-1 { transform: rotate(5deg); }
.rotate-2 { transform: rotate(-5deg); }
.rotate-3 { transform: rotate(-5deg); }
.rotate-4 { transform: rotate(5deg); }

/* Space fix for slick */
.tilt-wrapper .slick-slide {
  padding: 10px;
}

.slick-center .tilt-card {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .tilt-card {
    height: 260px;
  }
}
