
/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/

@font-face {
  font-family: "BonV-all";
  src: url("/src/fonts/Awesome/Regular/AwesomeSerif-SemiBoldTall.otf") format("opentype");
  font-weight: normal;
}

html {
  font-size: 16px;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #fff;
  font-size: 16px;
  font-size: 1rem;
  color: #444;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}



@media (max-width: 767px) {
  body {
      font-size: 14px;
  }
}

p {
  color: #37323C;
  line-height:24px;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BonV-all";
  /* color: #062265; */
  font-weight: 600 !important;
}


ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none!important;
}

img {
  max-width: 100%;
}
.App{
  overflow: hidden;
  position: relative;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

/*--------------------------------------------------------------
#0.2    Global Elements
--------------------------------------------------------------*/
.page-wrapper {
  position: relative;
  overflow: hidden;
}

.wow {
  visibility: hidden;
}

.fi:before {
  margin: 0;
}

.section-padding {
  /* padding: 120px 0; */
}

@media (max-width: 991px) {
  .section-padding {
      padding: 90px 0;
  }
}

@media (max-width: 767px) {
  .section-padding {
      padding: 40px 0;
  }
}

/*** contact form error handling ***/
.contact-validation-active .error-handling-messages {
  width: 100% !important;
  margin-top: 15px !important;
}

.contact-validation-active label.error {
  color: red;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 5px 0 0 0;
  text-align: left;
  display: block;
}

.contact-validation-active #loader {
  display: none;
  margin-top: 10px;
}

.contact-validation-active #loader i {
  font-size: 30px;
  font-size: 1.875rem;
  color: #91278f;
  display: inline-block;
  -webkit-animation: rotating linear 2s infinite;
  animation: rotating linear 2s infinite;
}

.contact-validation-active #success,
.contact-validation-active #error {
  width: 100%;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  display: none;
}

@media (max-width: 767px) {

  .contact-validation-active #success,
  .contact-validation-active #error {
      font-size: 15px;
  }
}

.contact-validation-active #success {
  background-color: #009a00;
  border-left: 5px solid green;
  margin-bottom: 5px;
}

.contact-validation-active #error {
  background-color: #ff1a1a;
  border-left: 5px solid red;
}

@-webkit-keyframes rotating {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 5s alternate infinite;
  animation: rotating 5s alternate infinite;
}

/** for popup image ***/
.mfp-wrap {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*** for fancybox video ***/
.fancybox-overlay {
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999 !important;
}

.fancybox-wrap {
  z-index: 99999 !important;
}

.wpo-section-title {
  text-align: center;
  position: relative;
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
}



.wpo-section-title span {
  font-size: 16px;
  font-weight: 500;
  color: #91278f;
  display: block;
  margin-bottom: 10px;
  line-height: 18px;
  font-family: 'Rubik', sans-serif;
  
}

.wpo-section-title h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  display: inline-block;
  position: relative;
  line-height: 50px;
}

@media (max-width: 991px) {
  .wpo-section-title h2 {
      font-size: 45px;
      font-size: 2.8125rem;
  }
}

@media (max-width: 767px) {
  .wpo-section-title h2 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 600;
      color: #1C191E;
      letter-spacing: 2%;
  }
}

.theme-btn,
.theme-btn-s2,
.theme-btn-s4,
.theme-btn-s3 {
  background-color: #F8F0FF;
  color: #832AD1;
  border: 1px solid #91278f !important;
  font-weight: 700;
  padding: 13px 38px;
  border-radius: 8px;
  display: inline-block;
  transition: all .3s;
  border: none;
}

@media (max-width: 991px) {

  .theme-btn,
  .theme-btn-s2,
  .theme-btn-s4,
  .theme-btn-s3 {
      font-size: 14px;
      font-size: 0.875rem;
      padding: 10px 25px;
  }
}


.theme-btn:hover,
.theme-btn-s2:hover,
.theme-btn-s4:hover,
.theme-btn-s3:hover,
.theme-btn:focus,
.theme-btn-s2:focus,
.theme-btn-s4:focus,
.theme-btn-s3:focus,
.theme-btn:active,
.theme-btn-s2:active,
.theme-btn-s4:active,
.theme-btn-s3:active {
  background-color: #91278f;
  color: #fff;
}

.theme-btn-s4 {
  font-weight: 400;
  color: #666666;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
}

.theme-btn-s2 {
  border: none;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.theme-btn-s2:hover,
.theme-btn-s4:hover,
.theme-btn-s2:focus,
.theme-btn-s4:focus,
.theme-btn-s2:active,
.theme-btn-s4:active {
  background-position: 100% !important;
  color: #fff;
}

.theme-btn-s3 {
  padding: 13px 30px;
}

@media (max-width: 991px) {
  .theme-btn-s3 {
      font-size: 14px;
      font-size: 0.875rem;
      padding: 10px 25px;
  }
}

.theme-btn-s4 {
  padding: 15px 48px;
  border-radius: 55px;
}

@media (max-width: 991px) {
  .theme-btn-s4 {
      font-size: 14px;
      font-size: 0.875rem;
      padding: 10px 25px;
  }
}


.social-links {
  overflow: hidden;
}

.social-links li {
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 1px;
}

.social-links li a {
  background-color: #05f2ff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
  color: #fff;
  text-align: center;
}

.social-links li a:hover {
  background-color: #91278f;
}



.modal-video-close-btn {
  top: -20px;
  right: -20px;
  width: 35px;
  height: 35px;
  background: #91278f;
  border-radius: 50%;
}

.modal-video-close-btn:before, .modal-video-close-btn:after {
  top: 65%;
}

.errorMessage {
  font-size: 12px;
  margin-top: 5px;
  color: red;
}

.cBtnTheme {
  background: #91278f;
}



/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@300;400&display=swap');

.contact-wrapper {
  background-color: #6817AE;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  color: #ffffff;

  display: flex;
  justify-content: flex-start;   /* LEFT alignment */
  /* padding: 80px 0; */

  padding-left: 120px;           /* keep content left but not touching edge */
  padding-right: 300px;          /* EMPTY SPACE on right for images */
}

.contact-title {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  margin-bottom: 20px;
}

.contact-desc {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  max-width: 650px;
  margin-bottom: 40px;
}

.contact-box {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.contact-icon {
  font-size: 30px;
  margin-right: 20px;
}

.contact-heading {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  margin-bottom: 5px;
}

.contact-text {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
p {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  color: #37323C !important;
}

h2, h3 {
  font-weight: 600!important;
  font-size: 32px!important;
  line-height: 40px!important;
  letter-spacing: 2% !important;
}
