.curved-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* margin: 40px 0;
  padding: 20px 0; */
}
.curved-wrapper{
    /* position: absolute; */
}
.curved-wrapper .curve-left-svg{
    position: absolute;
top:-140px;
left:40px;
}
.curved-wrapper .curve-right-svg {
    position: absolute;
 top:-200px;
 right:-40px;
}
.curve-left-svg,
.curve-right-svg {
  width: 45%;
}
@media(max-width:992px){
    .curved-wrapper .curve-left-svg{
    position: absolute;
top:-200px;
left:40px;
}
.curved-wrapper .curve-right-svg {
    position: absolute;
 top:-200px;
 right:-140px;
}
.curve-left-svg,
.curve-right-svg {
  width: 100%;
}
}
@media (max-width: 465px) {
 .curved-wrapper .curve-left-svg{
    position: absolute;
top:-150px;
left:20px;
}
.curved-wrapper .curve-right-svg {
    position: absolute;
 top:-150px;
 right:-100px;
}

}