.curved-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* margin: 40px 0;
  padding: 20px 0; */
}
.curved-wrapper{
    /* position: absolute; */
}
.curved-wrapper .curve-left-svg{
    position: absolute;
top:50px;
left:358px;
font-family: "BonV-all";
}
.curved-wrapper .curve-right-svg {
    position: absolute;
 top:-16px;
right:131px;
 font-family: "BonV-all";
}
.curve-left-svg,
.curve-right-svg {
  width: 30%;
}
@media(max-width:768px){
    .curved-wrapper .curve-left-svg{
    position: absolute;
    width: 100%;
top:-96px;
left:294px;
}
.curved-wrapper .curve-right-svg {
    position: absolute;
    width: 100%;
 top:-146px;
 right:99px;
}
.curve-left-svg,
.curve-right-svg {
  width: 100%;
}
}
@media(max-width:992px){
    .curved-wrapper .curve-left-svg{
    position: absolute;
    width: 100%;
top:-96px;
left:294px;
}
.curved-wrapper .curve-right-svg {
    position: absolute;
    width: 100%;
top:-146px;
 right:99px;
}
.curve-left-svg,
.curve-right-svg {
  width: 100%;
}
}
@media (max-width: 465px) {
 .curved-wrapper .curve-left-svg{
    position: absolute;
top:-96px;
left:294px;
 width: 100%;

}
.curved-wrapper .curve-right-svg {
    position: absolute;
 top:-146px;
right:99px;
  width: 100%;

}

}

/* @media (max-width: 768px) {
  .curved-wrapper .curve-left-svg,
  .curved-wrapper .curve-right-svg {
    display: none;
  }
} */

@media (max-width: 768px) {
  .curved-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .curved-wrapper .curve-left-svg,
  .curved-wrapper .curve-right-svg {
    position: relative;
    left: 50%;
    right: auto;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
}
