.info-wrapper {
  width: 100%;
  padding: 40px 0;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
}
img {
    max-width: 100%;
    margin-bottom: -106px;
    margin-left: -77px;
}
.info-col {
  flex: 1;
  min-width: 250px;
}

.info-title {
  font-weight: 600;
  font-size: 14px !important;
  line-height: 16px !important;
  color:#1C191E !important;
  font-family: "work sans" !important;
  margin-bottom: 8px;
}

.info-text {
  font-size: 15px;
  color: #474747;
  line-height: 26px;
  margin-bottom: 8px;
}

.info-link {
  font-size: 15px;
  color: #5a4fcf;
  text-decoration: underline;
}

.info-link:hover {
  opacity: 0.7;
}
