/* WRAPPER */
.needs-wrapper {
  position: relative;
  padding-top: 200px;
  padding-bottom: 60px;
  /* background: #fbf7ff; */
}









/* MAIN CONTENT */
.needs h2 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 700;
  color: #1a1a1a;
}

.needs .highlight {
  color: #8a3deb;
  font-weight: 800;
}

.needs p {
  font-size: 16px;
  margin: 20px 0;
  color: #444;
}

/* BUTTONS */
.needs-btns .btn {
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 500;
  line-height: 16px;
  border: 1px solid #8a3deb;
  margin-right: 10px;
  font-size: 14px;
}

.btn-learn {
  background: #F8F0FF !important;
  color: #5a1b8f;
}
.container.needs{
   background: linear-gradient(180deg, #FFFFFF 0%, #ede4f1d1  113.29%);
/* linear-gradient(180deg, color(display-p3 1.000 1.000 1.000) 0%, color(display-p3 0.973 0.941 1.000) 113.29%); */

}
.btn-join {
  background: #862af8 !important;
  color: #fff;
}

/* IMAGES */
.toy-img {
  /* width: 420px; */
  margin-top: 20px;
}
.needs .needs-img{
  position: relative;
}
.needs .needs-img img{
  position: absolute;
  top:-94px;
  right:-12%;
}
.dino-icon {
  width: 196px;
  margin-top: 40px;
  opacity: 0.8;
  margin-left:-210px;
}

/* Responsive */
@media (max-width: 992px) {
 

  .toy-img {
    /* width: 300px; */
  }
.needs{
  height: 500px;
}
.needs .needs-img img{
  position: absolute;
  top:-120px;
}
  .needs-wrapper {
    padding-top: 200px;
  }
}

