.wpo-site-footer,
.wpo-site-footer {
    background: #201927;
    position: relative;
    font-size: 15px;
    overflow: hidden;
}

.wpo-ne-footer {
    background: #062265;
}

.wpo-site-footer-2 {
    background: #fcfcfc;
}

.wpo-site-footer ul,
.wpo-site-footer-2 ul {
    list-style: none;
}

.wpo-site-footer p,
.wpo-site-footer li {
    color: #fff;
}

.wpo-site-footer-2 p,
.wpo-site-footer-2 li {
    color: #444444;
}

.wpo-site-footer .container,
.wpo-site-footer-2 .container {
    position: relative;
}

.wpo-site-footer .wpo-upper-footer,
.wpo-site-footer-2 .wpo-upper-footer {
    padding: 0 0 20px;
}

@media (max-width: 991px) {

    .wpo-site-footer .wpo-upper-footer,
    .wpo-site-footer-2 .wpo-upper-footer {
        padding: 0 0 20px;
    }
}

@media (max-width: 767px) {

    .wpo-site-footer .wpo-upper-footer,
    .wpo-site-footer-2 .wpo-upper-footer {
        padding: 0 0 10px;
    }
}

@media (max-width: 991px) {

    .wpo-site-footer .wpo-upper-footer .col,
    .wpo-site-footer-2 .wpo-upper-footer .col {
        min-height: 235px;
        margin-bottom: 70px;
    }
}

@media (max-width: 767px) {

    .wpo-site-footer .wpo-upper-footer .col,
    .wpo-site-footer-2 .wpo-upper-footer .col {
        min-height: auto;
        margin-bottom: 60px;
    }
}

.wpo-site-footer .widget-title,
.wpo-site-footer-2 .widget-title {
    margin-bottom: 30px;
}

@media (max-width: 767px) {

    .wpo-site-footer .widget-title,
    .wpo-site-footer-2 .widget-title {
        margin-bottom: 20px;
    }
}

.wpo-site-footer .widget-title h3,
.wpo-site-footer-2 .widget-title h3 {
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    text-transform: capitalize;
    position: relative;
}

.wpo-site-footer-2 .widget-title h3 {
    color: #2d4277;
}

.footer-top-links ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

.footer-top-links ul li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-top-links ul li a {
    color: #fff;
}

.footer-top-links ul li:hover {
    color: #91278f;
}

@media (max-width: 991px) {

    .wpo-site-footer .widget-title h3,
    .wpo-site-footer-2 .widget-title h3 {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .footer-top-links ul {
        gap: 1rem;
        flex-direction: column;
    }
}

.wpo-site-footer .about-widget .logo {
    max-width: 180px;
}

.wpo-site-footer .about-widget p,
.wpo-site-footer-2 .about-widget p {
    margin-bottom: 0.8em;
    line-height: 1.9em;
}

.wpo-site-footer .about-widget p:last-child,
.wpo-site-footer-2 .about-widget p:last-child {
    margin-bottom: 0;
}

.wpo-site-footer .about-widget ul,
.wpo-site-footer-2 .about-widget ul {
    overflow: hidden;
    padding-top: 10px;
}

.wpo-site-footer .about-widget ul li,
.wpo-site-footer-2 .about-widget ul li {
    font-size: 22px;
    float: left;
}

.wpo-site-footer .about-widget ul>li+li,
.wpo-site-footer-2 .about-widget ul>li+li {
    margin-left: 25px;
}

.wpo-site-footer .about-widget ul a {
    color: #fff;
}

.wpo-site-footer-2 .about-widget ul a {
    color: #404040;
}

.wpo-site-footer .about-widget ul a:hover,
.wpo-site-footer-2 .about-widget ul a:hover {
    color: #91278f;
}

.wpo-site-footer-2 .about-widget ul a {
    color: #91278f;
}

.wpo-site-footer .link-widget,
.wpo-site-footer-2 .link-widget {
    overflow: hidden;
}

.wpo-newsletter-form form div {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.wpo-newsletter-form form > div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.wpo-newsletter-form input {
    width: 211px;
    height: 44px;

    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #832AD1;

    font-size: 14px;
    outline: none;
}

.wpo-newsletter-form button {
    width: 150px;
    height: 40px;

    padding: 10px 24px;
    border-radius: 8px;
    border: 1px solid #832AD1;
    background: #832AD1;

    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    transition: 0.3s ease;
}

.wpo-newsletter-form button:hover {
    background: #6b1ead;
}

@media screen and (min-width: 1200px) {
    .wpo-site-footer .link-widget {
        /* padding-left: 20px; */
    }

    .wpo-site-footer-2 .link-widget {
        padding-left: 10px;
    }
}

@media (max-width: 1199px) {

    .wpo-site-footer .link-widget,
    .wpo-site-footer-2 .link-widget {
        /* padding-left: 20px; */
    }
}

@media (max-width: 991px) {

    .wpo-site-footer .link-widget,
    .wpo-site-footer-2 .link-widget {
        padding-left: 0;
    }
}

@media (max-width: 767px) {

    .wpo-site-footer .link-widget,
    .wpo-site-footer-2 .link-widget {
        max-width: 350px;
    }
}

.wpo-site-footer .link-widget ul li,
.wpo-site-footer-2 .link-widget ul li {
    position: relative;
}

.wpo-site-footer .link-widget ul a,
.wpo-site-footer-2 .link-widget ul a {
    color: #fff;
}

.wpo-site-footer-2 .link-widget ul a {
    color: #404040;
}

.wpo-site-footer .link-widget ul a:hover,
.wpo-site-footer-2 .link-widget ul a:hover,
.wpo-site-footer .link-widget ul li:hover:before,
.wpo-site-footer-2 .link-widget ul li:hover:before {
    text-decoration: underline;
}

.wpo-site-footer .link-widget ul>li+li,
.wpo-site-footer-2 .link-widget ul>li+li {
    margin-top: 15px;
}

@media screen and (min-width: 1200px) {

    .wpo-site-footer .resource-widget,
    .wpo-site-footer-2 .resource-widget {
        padding-left: 0px;
    }
}

.wpo-site-footer .contact-ft ul li .fi:before,
.wpo-site-footer-2 .contact-ft ul li .fi:before {
    font-size: 20px;
    margin-right: 15px;
}

.wpo-site-footer .contact-ft ul li,
.wpo-site-footer-2 .contact-ft ul li {
    padding-bottom: 10px;
}

.wpo-site-footer .contact-ft,
.wpo-site-footer-2 .contact-ft {
    margin-top: 20px;
}

.wpo-site-footer .wpo-lower-footer,
.wpo-site-footer-2 .wpo-lower-footer {
    text-align: center;
    position: relative;
    border-top:1px solid #E5E7EB ;
    /* background: ; */
}

.wpo-site-footer .wpo-lower-footer .row,
.wpo-site-footer-2 .wpo-lower-footer .row {
    padding: 20px 0;
    position: relative;
}


.wpo-site-footer .wpo-lower-footer .copyright,
.wpo-site-footer-2 .wpo-lower-footer .copyright {
    display: inline-block;
    font-size: 15px !important;
    margin: 0;
    color:white !important;
}

@media (max-width: 991px) {

    .wpo-site-footer .wpo-lower-footer .copyright,
    .wpo-site-footer-2 .wpo-lower-footer .copyright {
        float: none;
        display: block;
    }
}

.wpo-site-footer .wpo-lower-footer .copyright a,
.wpo-site-footer-2 .wpo-lower-footer .copyright a {
    color: #fff;
    text-decoration: underline;
}

.wpo-site-footer .news-text h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: -5px;
    line-height: 25px;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
}

.wpo-site-footer .news-text h3 a {
    color: #fff;
}

.wpo-site-footer .news-text span {
    color: #ccc;
    font-size: 12px;
}

.wpo-site-footer .news-text {
    overflow: hidden;
    padding-left: 10px;
}

.wpo-site-footer .news-wrap {
    overflow: hidden;
    margin-bottom: 20px;
}

.wpo-site-footer .news-img {
    float: left;
}

.sticky-header {
    width: 100%;
    position: fixed;
    left: 0;
    top: -200px;
    z-index: 9999;
    opacity: 0;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
    background: white;
    -webkit-box-shadow: 0 0 15px rgba(218, 218, 218, 0.5);
    box-shadow: 0 0 15px rgba(218, 218, 218, 0.5);
}

.sticky-on {
    opacity: 1;
    top: 0;
    background: #062265 !important;
}

.wpo-header-style-3 .sticky-on {
    opacity: 1;
    top: 0;
    background: #fff !important;
}

.wpo-header-style-1 .sticky-header,
.wpo-header-style-2 .sticky-header {
    background-color: #fff;
}

.wpo-header-style-2 .navigation {
    background: transparent;
}

@media(max-width: 1200px) {
    .wpo-site-footer .news-text h3 {
        font-size: 13px;
    }

    .wpo-site-footer .contact-ft ul li,
    .wpo-site-footer-2 .contact-ft ul li {
        padding-bottom: 10px;
        font-size: 13px;
    }
}


.widget .logo {
    margin-top: 0;
}

.footer-para ,p{
    color: #D3CFD6 !important;
}