

.wpo-mission-area {
    /* background: #f7fbfe; */
    padding-bottom: 64px;
}
.wpo-mission-area.org .container{
    position: relative;
}
.wpo-mission-area.org .container .org-icon-left{
    position: absolute;
    top: 0px;
    right: 0;
    width: 600px;
    z-index: -1;
}
.wpo-mission-area.org .container .org-icon-right{
    position: absolute;
    bottom: 0px;
    left: -5%;
    width: 600px;
    z-index: -1;
}
.wpo-mission-wrap {
    margin-top: 10px;
}

.wpo-mission-item {
    text-align: center;
}

.wpo-mission-item h2 {
    font-size: 22px;
    font-weight: 500;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
.wpo-mission-wrap .partner-links h3 a {
    color: #1C191E !important;
    font-weight: 500 !important;
    transition: 0.3s ease;  /* smooth color change */
}

.wpo-mission-wrap .partner-links h3 a:hover {
    color: #91278f !important;   /* hover color */
}

.wpo-mission-item p {
    /* max-width: 250px; */
    margin: auto;
}

.wpo-mission-icon .fi:before,
.wpo-mission-icon-2 .fi:before,
.wpo-mission-icon-3 .fi:before,
.wpo-mission-icon-4 .fi:before {
    font-size: 80px;
    background-image: linear-gradient(#46ccd7, #01a8d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wpo-mission-icon-2 .fi:before {
    background-image: linear-gradient(#ffac77, #ff7d90);
}

.wpo-mission-icon-3 .fi:before {
    background-image: linear-gradient(#be68fe, #6d6af4);
}

.wpo-mission-icon-4 .fi:before {
    background-image: linear-gradient(#fbaddc, #fc7cb8);
}
.wpo-section-title.orgs h2{
width: 400px;
}
.wpo-section-title.orgs p{
width: 618px;
margin: auto;
}


@media(max-width: 992px) {
    .wpo-mission-item {
        margin-bottom: 30px;
    }

    .wpo-mission-area-2 {
        padding-bottom: 60px;
    }

    /* .wpo-mission-area {
        padding-bottom: 60px;
    } */
}

.wpo-mission-area.org .imgs{

    position: relative;

    box-shadow: 0px 20px 40px 8px #0000001a;

}
.wpo-mission-area.org .imgs div{
    /* width:; */
    height:350px;
        border-radius: 8px;
    overflow: hidden;
}
.wpo-mission-area.org .imgs div img{
    height: 100%;
    object-fit: cover;

}

.wpo-mission-icon-5,
.wpo-mission-icon-6,
.wpo-mission-icon-7,
.wpo-mission-icon-8 {
    /* font-size: 45px;
    width: 70px;
    height: 70px;
    line-height: 65px;
    background: #91278f; */
    border-radius: 50%;
    margin: auto;
}

.wpo-mission-item {
    /* background: #fff;
    box-shadow: 0px 1px 40px 0px rgba(40, 63, 116, 0.1); */
    padding: 50px 30px;
}

@media(max-width: 1199px) {
    .wpo-mission-item {
        padding: 50px 20px;
    }

    .wpo-mission-item h2 {
        font-size: 20px;
    }
}