.resources-page {
    background: #fff;
    padding-bottom: 60px;
}

.resource-header {
    padding: 50px 0;
}

.res-title {
    font-size: 32px;
    font-weight: 600;
    color: #24222b;
        margin-left: 94px;
}

.res-desc {
    margin-top: 15px;
    font-size: 16px;
    color: #505050;
    margin-left: 94px;
}

.align-items-center {
    align-items: center !important;
    /* background-color: #eccdec1a; */
    /* margin-bottom: -22px; */
}
.header-img {
    max-width: 100%;
    margin-bottom: -94px;
}

.resources-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.resource-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.resources-page .section-title {
    width: 25%;
    font-size: 36px;
    /* font-family: "Awesome Serif"; */
    font-weight: 600;
    line-height: 42px;
    margin-top: -404px;
}
.resources-page .section-title1 {
    width: 25%;
    font-size: 36px;
    /* font-family: "Awesome Serif"; */
    font-weight: 600;
    line-height: 42px;
    margin-top: -508px;
}
.resources-page .section-title2 {
    width: 25%;
    font-size: 36px;
    /* font-family: "Awesome Serif"; */
    font-weight: 600;
    line-height: 42px;
    margin-top: -13px;
}
.resources-page .section-title3 {
    width: 25%;
    font-size: 36px;
    /* font-family: "Awesome Serif"; */
    font-weight: 600;
    line-height: 42px;
    margin-top: -9px;
}
.resources-page .section-title4 {
    width: 25%;
    font-size: 36px;
    /* font-family: "Awesome Serif"; */
    font-weight: 600;
    line-height: 42px;
    margin-top: -4px;

}
.section-content {
    /* width: 70%; */
}

.year-block {
    margin-bottom: 25px;
    width: 300px;
}

.year-block h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    font-weight: 600;
    color: #1C191E;
    font-family: "work sans";
}

.year-block p {
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
}

.year-block p:hover {
    color: #8c57ff;
}

.video-thumb {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.video-thumb img {
    width: 22px;
    margin-right: 10px;
}

.coming-soon {
    color: #b8b1c9;
    font-style: italic;
}

/* Responsive */
@media (max-width: 768px) {
    .resource-section {
        flex-direction: column;
    }

    .section-title,
    .section-content {
        width: 100%;
    }
}

@media(max-width:992px) {
    .year-block {
        width: 100%;
    }

    .resource-section {
        align-items: flex-start;
    }
}
.resource-link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
}

.resource-link:hover {
  text-decoration: underline;
  color: #007bff;
}