.hero-style-3.hero .slide-title{
    width:500px;
}
.hero-style-3.hero{
    padding-top: 100px;
}
.hero-style-3.hero .slide-title h2{
    line-height: 56px !important;
   font-size: 52px !important;
     /* font-family: "Awesome Serif"; */
     letter-spacing: 2%;
}
.hero-style-3.hero .slide-caption .slide-subtitle{
    z-index:999;
}
.hero-style-3.hero .slide-caption .slide-title{
z-index:999;
}
.hero-style-3.hero .slide-caption .btns{
z-index:999;
}
.hero-style-3.hero .slide-caption .slider-pic{
z-index:99;
}
.hero-style-3.hero .slide-caption{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.slider-pic{
    padding-top:3rem ;
}
@media(max-width:992px){
    .hero-style-3.hero .slide-title{
        width:100%;
    }
    .hero-style-3.hero .slide-title h2{
        font-size: 36px !important;
        line-height: 42px !important;
    }
    .hero-style-3.hero .slide-caption{
        padding: 0;
    }
    .slider-pic{
        padding-top:2rem;
        height: 300px;
    }
    .slider-pic img{
        height: 100%;
        object-fit: cover;
    }
    .hero-style-3.hero{
    padding-top: 50px;
}
}
.hero-style-3.hero .container{
    position: relative;
    /* margin-top: 70px; */
    /* margin-top: 85px;
    margin-left: 93px; */
}

.hero-style-3.hero .container .hero-layer-1,
.hero-style-3.hero .container .hero-layer-2,
.hero-style-3.hero .container .hero-layer-3{
    position: absolute;

    left: 0;
    right: 0;
    z-index: 999;
}
.hero-style-3.hero .container .hero-layer-1{
          top: -15%;
        /* margin-left: 127px; */
    width:1100px;
      margin: auto;
}
.hero-style-3.hero .container .hero-layer-2{
        top: 25%;
    width: 750px;
    right:-10%;
    margin: auto;
}
.hero-style-3.hero .container .hero-layer-3{
        top: 210%;
        left:-10%;
    width: 900px;
    margin: auto;
}
@media(max-width:992px){
    .hero-style-3.hero .container .hero-layer-1{
        top: -20%;
        left: -10%;
    width:900px;
      margin: auto;
    
    }
    .hero-style-3.hero .container .hero-layer-2{
        top: 20%;
        left: -5%;
    width:600px;
      margin: auto;

    }
    .hero-style-3.hero .container .hero-layer-3{
        top: 20%;
        left: -20%;
    width: 600px;
      margin: auto;
    }
}
@media(max-width:768px){
    .hero-style-3.hero .container .hero-layer-1{
         top: -10%;
    left: -20%;
    width:600px;
      margin: auto;
    }
    .hero-style-3.hero .container .hero-layer-2{
        top: 15%;
        left: -5%;
    width:500px;
      margin: auto;
    }
    .hero-style-3.hero .container .hero-layer-3{
        top: 20%;
        left: -40%;
    width: 600px;
      margin: auto;
    }
}