.btn {
    background-color: #b66ed6;
}

.purplee {
    color: #b66ed6;
}
.leader {
    margin-top: 14rem  !important;
}
@media(max-width:992px){
    .leader {
        margin-top: 4rem  !important;
    }
}