.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.category-section {
  width: 90%;
  background: #fff;
  padding: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.cat-item {
  color: #444;
  cursor: pointer;
  margin-right: 25px;
  font-size: 15px;
  white-space: nowrap;
}

.cat-item.special {
  background: #F2E5FF;
  color: #7A3CFF;
  padding: 6px 12px;
  border-radius: 5px;
}

.category-desktop {
  display: block;
}

.category-mobile {
  display: none;
}

/* MOBILE ONLY */
@media (max-width: 768px) {
  .category-desktop {
    display: none;
  }

  .category-mobile {
    display: block;
  }

  .cat-item {
    margin-right: 24px;
    display: inline-block;
  }

  .category-section .category-mobile .slick-next {
    right: -40px;
  }

  .category-section .category-mobile .slick-prev {
    left: -40px;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.child {
  background: linear-gradient(180deg, #FFFFFF 0%, #FAF0FF 100%);
  /* linear-gradient(180deg, color(display-p3 1.000 1.000 1.000) 0%, color(display-p3 0.973 0.941 1.000) 100%); */

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* BELOW HERO CONTENT */
.content-section {
  /* padding: 30px 20px; */
  background: #ffffff;
}

.content-section .container {
  /* max-width: 1000px; */
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 700;
}



.pavani-wrapper {
  position: relative;
  background: #f8f6fce8;
  padding: 80px 20px;
  text-align: center;
  /* overflow: hidden; */
}

.pavani-content {
  max-width: 900px;
  margin: auto;
  position: relative;
  z-index: 3;
}

.pavani-logo {
  width: 120px;
  margin-bottom: 10px;
}

.pavani-title {
  font-size: 48px;
  font-weight: 700;
  /* font-family: "DM Serif Display", serif; */
  color: #0e0e0e;
}

.pavani-description {
  font-size: 18px;
  color: #444;
  max-width: 800px;
  margin: 20px auto 0;
  line-height: 30px;
}

/* Background Illustration Left */
.pavani-left {
  position: absolute;
  left: -30px;
  bottom: -20px;
  width: 260px;
  opacity: 0.8;
  z-index: 1;
}

/* Background Illustration Right */
.pavani-right {
  position: absolute;
  right: -30px;
  bottom: -20px;
  width: 260px;
  opacity: 0.8;
  z-index: 1;
}

@media (max-width: 992px) {
  .pavani-title {
    font-size: 36px;
  }

  .pavani-left {
    display: none;
  }

  .pavani-description {
    font-size: 16px;
  }

  .pavani-left,
  .pavani-right {
    width: 180px;
    opacity: 0.2;
  }
}



.description {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #444;
}

.sub-title {
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: 700;
}

.project-list {
  margin-top: 15px;
  padding-left: 20px;
  line-height: 1.7;
  font-size: 1.05rem;
}

.project-list li {
  margin-bottom: 6px;
}

/* Mobile Responsive */
@media (max-width: 480px) {
  .title {
    font-size: 1.6rem;
  }

  .description {
    font-size: 1rem;
  }
}


.project-list {
  list-style-type: disc !important;
  padding-left: 20px !important;
}

.project-list li {
  list-style-type: disc !important;
}


/* Section wrapper */
.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background: #fff;
  box-sizing: border-box;
}

/* Main form container */
.contact-container {
  width: 100%;
  max-width: 750px;
  font-family: "Inter", sans-serif;
}

/* Title and subtitle */
.contact-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 5px;
  color: #222;
  font-weight: 600;
}

.contact-subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
  font-size: 14px;
}

/* Form row (2 columns on desktop) */
.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Input wrapper */
.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex: 1;
}

.input-box label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

/* Inputs + textarea */
.input-box input,
.input-box textarea {
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.input-box textarea {
  height: 140px;
  resize: none;
}

/* Checkbox grid */
.checkbox-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 0;
  margin-bottom: 20px;
}

.checkbox-grid label {
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Options title */
.option-title {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 12px;
}

/* Newsletter checkbox */
.newsletter-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
}

.form-note {
  font-size: 12px;
  color: #666;
  line-height: 1.6;
}

/* ---------------------- */
/* RESPONSIVENESS */
/* ---------------------- */

/* Mobile View */
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }

  .checkbox-grid {
    grid-template-columns: 1fr;
  }

  .contact-title {
    font-size: 24px;
  }
}

#remodeling , h2 {
   color: #7D7188 !important; ;
}

/* Desktop default images are already loaded from React */

/* For mobile screen */

.valuestext,
h2 {
  font-weight: 500 !important;
  font-size: 28px !important;
  line-height: 36px !important;
  letter-spacing: 2% !important;
  /* font-family: 'Awesome Serif' !important; */
}

.stats-container {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.icon-btn {
  padding: 6px 14px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: 6px;
  border: 2px solid #832AD1;
  background: transparent;
  cursor: pointer;
}

.img-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.text {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #832AD1;
  white-space: nowrap;
  padding-left: 0px 30px 0px 0px
}

.involved-section {
  width: 100%;
  padding: 20px 0;
}

.involved-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Space between Title and Images */

}

/* Title Left */
.involved-title {
  width: 250px !important;
  /* Fix width so text stays left */
  /* font-family: "Awesome Serif", serif !important; */
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 28px !important;
  letter-spacing: 0.02em !important;
  text-align: left;
}

/* Right side images in row */
.involved-right {
  display: flex;
  align-items: center;
  gap: 120px;
  /* Gap between images */
}

/* Each image block */
.involved-item {
  text-align: center;
}

.involved-item img {
  width: 150px;
  height: auto;
}

.involved-item p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .involved-container {
    flex-direction: column;
    align-items: center;
    /* center everything */
    text-align: center;
    gap: 40px;
    padding-left: 0;
    /* remove left space */
  }

  .involved-title {
    width: 100%;
    text-align: center;
    /* TITLE CENTER */
  }

  .involved-right {
    flex-direction: column;
    /* stack images vertical */
    align-items: center;
    gap: 40px;
  }

  .involved-item {
    text-align: center;
    /* image + name center */
  }
}

.three-boxes {
  width: 100%;
  /* full width */
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

}

.three-boxes p {
  margin: 0;
  flex: 1;
  font-size: 16px !important;
  line-height: 24px !important;
  opacity: 0.8;
}

@media (max-width:768px) {
  .wpo-case-slider .three-boxes {
    display: none;
  }
}

.two-column-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 36px;
}

.left-text {
  width: 50%;
  align-self: center;
}


.right-text {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #E3C3FF !important;
}

.right-text p {
  flex: 1;
  margin: 0;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #E3C3FF !important;
}

@media (max-width:768px) {
  .left-text {
    width: 100%;
  }

  .right-text {
    display: none;
  }
}

.wpo-case-slider {
  position: relative;
}

.wpo-case-slider-content {
  position: absolute;
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  top: 12%;
}

@media (max-width:768px) {
  .wpo-case-slider-content {
    display: none;
  }
}

.wpo-case-slider-content p {
  width: 23%;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #E3C3FF !important;
}




/* Hide by default */
.stats-section {
  display: none;
  width: 100%;
  overflow: hidden;
}

.stats-row p {
  margin: 0;
  color: #A354E8;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.top-line,
.bottom-line {
  border: none;
  border-top: 1px solid #A354E8;
  margin: 10px 0;
}

.scroll-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.stats-row {
  display: flex;
  gap: 50px;
  white-space: nowrap;
  transform: translateX(0);
  animation: none;
}

/* Mobile only */
@media (max-width: 600px) {
  .stats-section {
    display: block;
  }

  .stats-row {
    animation: smoothScroll 15s linear infinite;
  }

  @keyframes smoothScroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}

.corporate-des , h2{
  /* font-family: "Awesome Serif", serif !important; */
  font-weight: 500 !important;                      /* Medium weight */
  font-size: 20px !important;                       /* Figma px → CSS px */
  line-height: 28px !important;                     /* Figma line-height */
  letter-spacing: 0.02em !important;                /* 2% → 0.02em */
  color: #7D7188 !important;                        /* Text color */
}
